<%= form_with(model: @user, local: true) do |form| %>
<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<%= form.file_field :image %>
<%= form.hidden_field :image_cache %>
<%# form.hidden_field :password, value: @user.password_digest %>
<%# form.hidden_field :password_confirmation, value: @user.password_digest %>
<%= form.submit "Upload image" %>
<% end %>
<%= link_to 'Back', user_path %>